h1{
  color: black;
}

img{
  width: 300px;
border:10px solid fuchsia;
margin:10px;
  padding:20px;
  background-color: magenta;

}

body{
  background-color: gainsboro;
}

ol{
  list-style-type: none;
}

body{
  font-size:20px;
}

h1
{
  font-size:2em;
}